/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
  
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1{
    font-size: 22px;
}

/****** Header ***********/
header{
    display: flex;
    justify-content:space-between
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

nav a{
    margin-right: 30px;
    padding-top: 20px;
    border-top: 2px solid transparent;
} 

.logo >img{ 
    width: 61px;
}
.logo {
    padding-top: 30px;
    padding-bottom: 30px;
}

.titre h1{
    margin-bottom: 8px;
}
.titre p{
    margin-top: 0;
} 

/****** Recherche ***********/

.recherche .fa-solid { /*icons map et loupe*/
    color: initial;
    font-size: 18px; 
}

.recherche form {
    display: flex;
    margin-top: 35px;
    margin-bottom: 25px;
    /* border: solid 1px;
    border-color: var(--main-bg-color);
    border-radius: 17px; */
}

.recherche-map {
    background-color:var(--main-bg-color);
    padding: 15px;
    margin: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.recherche input {
    font-weight:bold;
    font-size: 18px;
    text-align: center;
    border-color: var(--main-bg-color); 
    border-top: solid var(--main-bg-color) 1px;
    border-bottom: solid var(--main-bg-color) 1px;
    border-left: none;
    border-right: none;
    /* padding: 12px;   */
}

#input-ville{   
    width: 147px;
    padding-left: 24px;
    padding-right: 24px; 
    /* height: 49px; */
    /* padding-block: 0;
    padding-inline: 0; */
}

/* input[type='submit'] { */
#submit-recherche{
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color); 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#submit-button .fa-solid{
    color: white;
}

 #submit-button {
    border-radius: 15px;
    box-shadow: 0 2px 5px grey;
    border-style: none;
    width: 49px;
    background-color: var(--main-color);
    padding: 15.5px; /*pour adapter la largeur 49px */
} 

#submit-button { 
    display: none;
}

/****** Filtres ***********/
.filtres {
    display: flex;
    justify-content: start;
    padding-bottom: 15px;
    /* font-size: 17px; */
    font-size: 1em;
    font-weight: bold;
    /* padding-top: 15px; */
    /* padding: 30px; */
}

.filtres-title{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-top: 10px; 
}

.button-filtre {
    display: flex;
    border-radius: 25px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #D9D9D9; 
    margin-right: 15px;
    margin-top: 15px;
}

.button-filtre span {
    margin-left: 5px;
    gap: 15px;
}

.button-filtre:hover {
    background: var(--filter-bg-color);
    border-radius: 25px;
}

.group-buttons-filtres{
    display: flex;
    flex-wrap: wrap;
}

.info-recherche {
    padding-top: 15px;
    padding-bottom: 15px;
    display:flex;
    align-items: center;
}

.info-recherche .fa-solid {
    margin-right: 10px;
    border: solid 1.5px var(--main-bg-color);
    border-radius: 50%;
    padding: 3px 8px;
    /* width: 24px; */
    height: 100%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
  /* padding: 30px; */
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-cards {
    display:flex;    
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
}

.hebergements-cards img {
    width: 240px; 
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-footer h3{
    margin-bottom: 0;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 30px; 
    box-sizing: border-box;
}

.activites-cards {
    display:flex;    
    justify-content: space-between;
    flex-wrap: wrap;
}

/*change fields of class .card*/
.activites-cards .card {
    padding: 0;
    margin-top: 33px;
}

.activites-cards img {
    width: 280px; 
    height: 340px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    /* padding-left: 15px; */
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    box-sizing: border-box;
}

.activites-cards .card-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
}

.activites-cards .card-subtitle {
    margin: 0;
}

.activites-cards .card-rating {
    margin-bottom: 5px;
}

/****** Footer ***********/
footer {
    display: flex;
    justify-content: start;
    background-color:var(--main-bg-color);
    padding: 15px;
}
.card-footer {
    width: 440px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width: 767.98px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites-cards img {
        /* width: 193.5px; */ 
        height: 200px; 
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activites-cards .card{
        width: 193.5px; 
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    body {
        margin: 0;
    }
    
    .main-container {
        /* width: 100%;
        max-width: 1440px; */
        padding: 0;
        /* box-sizing: border-box; */
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .titre{
        padding: 0 20px;
    }

    nav {
        display: flexbox;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    nav a:hover {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-top: transparent;
    }
    
    nav a{
        width: 50%;
        padding-top: 0; 
        padding-bottom: 1em;
        margin: 0;
        border-bottom: 2px solid transparent;
        text-align: center;
    } 

    .recherche{
        padding: 0 20px;
        /* width: 100%; */
    }

    .recherche form {
        border: solid 1px;
        border-color: var(--main-bg-color);
        border-radius: 17px;
    }
    
    input {
        border: none;
    }
    #input-ville {
        width: 90%;
    }
    
    #submit-recherche{
        display: none;
    }
    
    #submit-button {
        display:block;
    }
    
    .filtres{
        flex-direction: column;
        /* font-size: 14px; */
        padding: 0 20px;
    }

    .filtres-title{
        margin-bottom: 10px;
    }
    
    .group-buttons-filtres{
        justify-content:space-between;
    }    
    
    .button-filtre {
        width: 34%;
        border: 2px solid #D9D9D9; 
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .info-recherche{
        padding: 15px 20px;
    }
              
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        background-color: initial;
        border-radius: 0; 
        /* padding: 30px;
        box-sizing: border-box; */
    } 
    
    .hebergements {
        width: 100%;
    }

    .hebergements-cards{
       flex-direction: column;
    }

    .hebergements-cards img {
        width: 100%;
    }
    
    section.populaires {
        width: 100%;
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards {
    flex-direction: column;
    }
    .activites-cards img {
        width: 100%;
        height: 141px;
    }


    /****** Footer ***********/
    footer {
        flex-wrap: wrap;
        padding: 0 30px;
      /* padding: 30px; */
    }
}
    